:root {
    --main-font-color: #000f22;
    /* 메인 폰트컬러 */

    --main_color1: #0675c1;
    /* 메인컬러 1 */

    --main_color2: #059b84;
    /* 메인컬러 2 */

    --main_color3: #d48121;
    /* 메인컬러 3 */

    --contents_bg_color: #F8F8F8;
    /*컨텐츠 배경색*/

    --contents_border_color: #ECECEC;
    /*컨텐츠 border 색깔*/
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--main-font-color);
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


h1{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
}

h5{
    font-size: 20px;
    font-weight: 300;
    text-align: center;    
    margin-bottom: 100px;
}



/* flex */
.d-flex {
    display: flex;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}




/* position */
.rel {
    position: relative;
}

.abs {
    position: absolute;
}



/* width */
.w1280 {
    width: 1280px;
}

.marginAuto{
    margin: 0 auto;
}