/* common layout */
/* #wrap > div{
    margin-bottom: 200px;
} */


/* #hd 영역 */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#hd .logo img {
    height: 34px;
    max-width: 100%;
}

.minibanner {
    background-color: var(--main_color1);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -2px;
}

.minibanner a {
    line-height: 45px;
    color: white;
}

#hd .container {
    justify-content: space-between;
}

#gnbs {
    font-family: 'GmarketSansMedium';
    font-size: 20px;

}

#gnbs a {
    line-height: 100px;
    padding-left: 45px;
}

/* 슬라이드 */

#mainbanner .swiper-slide {
    height: 0;
    padding-top: 41%;
    background-repeat: no-repeat;
    background-size: 100%;
}


#mainbanner .bg1 {
    background-image: url(../img/main/mainbanner1.png);
}

#mainbanner .bg2 {
    background-image: url(../img/main/mainbanner2.png);
}

#mainbanner .bg3 {
    background-color: rgb(157, 157, 207);
    /* background-image: url(../img/main/mainbanner2.png); */
}

#mainbanner .bg4 {
    background-color: beige;
    /* background-image: url(../img/main/mainbanner2.png); */
}

.p-unset {
    position: unset !important;
}

.w-auto {
    width: auto !important
}

#mainbanner .btns {
    /* border: 1px solid #222; */
    bottom: 168px;
    z-index: 1000;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.btns .swiper-pagination {
    align-items: center;
}

#mainbanner .btns .swiper-pagination-bullet {
    border-radius: 0;
    width: 50px;
    margin: 0;
    position: relative;
    height: 10px;
    opacity: 1;
    background-color: transparent;
}

#mainbanner .btns .swiper-pagination-bullet::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: white;

}


#mainbanner .btns .swiper-pagination-bullet-active {
    background-color: transparent;
}

#mainbanner .btns .swiper-pagination-bullet-active::before {
    height: 3px;
}

#mainbanner .swiper-button-next,
#mainbanner .swiper-button-prev {
    height: auto;
    width: auto;
    margin: 0;
    padding: 8px;
}

#mainbanner .swiper-button-next:after,
#mainbanner .swiper-button-prev:after {
    color: white;
    font-size: 18px;


}

/*  타이틀  */

#mainbanner .content {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 1.4;
}

#mainbanner .content h2,
#mainbanner .content p {
    color: white;
}

#mainbanner .content h2 {
    font-size: 90px;
}

#mainbanner .content p {
    font-size: 35px;
}

/* 폼 */

#mainbanner .wrapper .apply {

    width: 360px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 20px;
    padding: 30px 40px;
    z-index: 100000;
    top: 50%;
    transform: translateY(-50%);
    /* left: 0; */
    right: 0;
    margin: 0 auto;
}

#mainbanner .apply h2 {
    font-size: 25px;
    text-align: center;
}

#mainbanner .apply .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

#mainbanner .apply .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 40px;
    font-size: 15px;
    padding: 20px 45px 20px 20px;
    color: white;
}

#mainbanner .apply .input-box input::placeholder {
    color: white;
}

#mainbanner .apply .btn {
    width: 50%;
    height: 45px;
    background: white;
    border: 0;
    outline: 0;
    border: 40px;
    cursor: pointer;
    color: #222;
    border-radius: 40px;
    display: block;
    margin: auto;

}





/* #Event 영역 */


/* #Tourism 영역 */


/* #video 영역 */

/* #discountEvent 영역 */

/* #route 영역 */

/* #Comments 영역 */

/* #ft 영역 */