/* #hd 영역 */

/* #Event 영역 */
#Event > h1{
    text-align: center;
    line-height: 80px;
}
#Event > h5{
    text-align: center;    
    margin-bottom: 100px;
}

#Event .EventCon>section{
    width: 350px;
    margin-right: 100px;
}

#Event .EventCon>section:last-of-type{
    margin-right: 0;
}

#Event .EventCon>section div{
    border:1px solid var(--contents_border_color);
    box-sizing: border-box;
    padding: 20px 35px;
}

#Event .EventCon>section div h3{
    font-weight: 700;
    line-height: 40px;
}

#Event .EventCon>section div p:first-of-type{
    margin-top: 10px;
    line-height: 20px;
}

#Event .EventCon>section div p:last-of-type{
    line-height: 20px;
    margin-top: 30px;
}

/* #Tourism 영역 */

/* #video 영역 */

/* #discountEvent 영역 */

/* #route 영역 */

/* #Comments 영역 */

/* #ft 영역 */