
/* #hd 영역 */

#hd .logo img {
    height: 34px;
    max-width: 100%;
}


.minibanner {
    background-color: var(--main_color1);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -2px;
}

.minibanner a {
    line-height: 45px;
    color: white;
}

.max-w1280 {
    max-width: 1280px;
}

#hd .container {
    justify-content: space-between;
}

#gnbs {
    width: 650px;
    justify-content: space-around;
}

#gnbs a {
    line-height: 100px;
    position: relative;
    font-family: 'GmarketSansMedium';
    font-size: 20px;
    padding: 0 5px;
}

#gnbs a:hover {
    color: var(--main_color3);
}

#gnbs a::after {
    content: "";
    position: absolute;
    background-color: var(--main_color3);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .3s;
}

#gnbs a:hover::after {
    width: 100%;
}


/* 슬라이드 */
#mainbanner .swiper-slide {
    height: 0;
    padding-top: 41%;
    background-repeat: no-repeat;
    background-size: 100%;
}

 
#mainbanner .bg1 {
    background-image: url(../img/main/mainbanner1.png);
}

#mainbanner .bg2 {
    background-image: url(../img/main/mainbanner2.png);
}

#mainbanner .bg3 {
    background-color: rgb(157, 157, 207);
}

#mainbanner .bg4 {
    background-color: rgb(58, 58, 10);
}

.p-unset {
    position: unset !important;
}

.w-auto {
    width: auto !important
}

#mainbanner .btns {

    bottom: 180px;
    z-index: 10000;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.btns .swiper-pagination {
    align-items: center;
    margin-right: 1rem;
}

#mainbanner .btns .swiper-pagination-bullet {
    border-radius: 0;
    width: 50px;
    margin: 0;
    position: relative;
    height: 10px;
    opacity: 1;
    background-color: transparent;
}

#mainbanner .btns .swiper-pagination-bullet::before {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-color: white;
}


#mainbanner .btns .swiper-pagination-bullet-active {
    background-color: transparent;
}

#mainbanner .btns .swiper-pagination-bullet-active::before {
    height: 3px;
}

#mainbanner .swiper-button-next,
#mainbanner .swiper-button-prev {
    height: auto;
    width: auto;
    margin: 0;
    padding: 4px 10px;

}

#mainbanner .swiper-button-next:after,
#mainbanner .swiper-button-prev:after {
    color: white;
    font-size: 18px;
}

/*  타이틀  */

#mainbanner .content {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    line-height: 1.4;
}

#mainbanner .content h2,
#mainbanner .content p {
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

#mainbanner .content h2 {
    font-size: 67px;
    letter-spacing: -6px;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
}

#mainbanner .content p {
    font-size: 30px;
    opacity: 0;
    animation: showcontent .9s ease-in-out 1 forwards;

}

@keyframes showcontent {
    form {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);

    }
}

/* 폼 */
#mainbanner .formdiv {
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: end;
}

#mainbanner .apply {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 36px 40px;
}

#mainbanner .apply h2 {
    font-size: 25px;
    text-align: center;
    color: var(--main_color2);
    font-weight: 700;
    margin-bottom: 70px;

}

#mainbanner .apply p {
    color: white;
    font-size: 14px;
    line-height: 1.3rem;
    top: 75px;
}

#mainbanner .apply p strong {
    color: white;
    font-size: 15px;
    font-weight: 700;
}

#mainbanner .apply .input-box {
    width: 100%;
    height: 50px;
    margin: 32px 0;
    display: block;
}


#mainbanner .apply .input-box label {
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding-left: 20px;
}

#mainbanner .apply .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 40px;
    font-size: 15px;
    padding: 20px 45px 20px 20px;
    margin-top: .3rem;
}

#mainbanner .apply .input-box input::placeholder {
    color: var(--contents_border_color);
    font-size: 13px;
}

#mainbanner .apply .send {
    width: 50%;
    height: 45px;
    background: var(--main_color2);
    border: 0;
    outline: 0;
    border: 40px;
    cursor: pointer;
    border-radius: 40px;
    display: block;
    margin: auto;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

#mainbanner .agree {
    margin-bottom: 28px;
}

#mainbanner .agree label {
    color: white;
    font-size: 14px;
}

#mainbanner .agree label input {
    accent-color: var(--main_color1);
}
