/* common layout */
#wrap > div{
    margin-bottom: 350px;
}

/* aside 영역 */
aside{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999999999!important;
}

aside ul li{
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
}

aside ul li:nth-of-type(1){
    background-color: var(--main_color3);
    position: relative;
}

aside ul li:nth-of-type(1)::before,
aside ul li:nth-of-type(2)::before{
    background-color: #ebebeb;
    width: 76px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    left: -85px;
    line-height: 30px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

aside ul li:nth-of-type(1)::before{content: "신청하기";}
aside ul li:nth-of-type(2)::before{content: "대중교통";}


aside ul li:nth-of-type(1):hover::before{
    display: block;
}
aside ul li:nth-of-type(2):hover::before{
    display: block;
}

aside ul li:nth-of-type(1) img{
    transform:translateX(4px);
}
aside ul li:nth-of-type(2){
    background-color: var(--main_color3);
}
aside ul li:nth-of-type(3){
    background-color: var(--main_color2);
}
aside ul li:nth-of-type(3) i{
    font-size: 30px;
    color: #fff;
}

/* #hd 영역 */


/* #Event 영역 */
#Event .EventCon>section{
    width: 350px;
    margin-right: 100px;
    transition: all 0.5s ease 0s;;
}

#Event .EventCon>section:hover{
    transform: scale(1.1);
    box-shadow:0 5px 15px -7px rgba(0,0,0,1);;
}

#Event .EventCon>section a{
    display: block;
    box-sizing: border-box;
    width: 100%;
}

#Event .EventCon>section a img{
    display: block;
    width: 100%;
    object-fit: cover;
}

#Event .EventCon>section:last-of-type{
    margin-right: 0;
}

#Event .EventCon>section div{
    border:1px solid var(--contents_border_color);
    box-sizing: border-box;
    padding: 20px 35px;
}

#Event .EventCon>section div h3{
    font-weight: 700;
    line-height: 40px;
}

#Event .EventCon>section div p:first-of-type{
    margin-top: 10px;
    line-height: 20px;
}

#Event .EventCon>section div p:last-of-type{
    line-height: 20px;
    margin-top: 30px;
}

/* #Tourism 영역 */
#Tourism .swiper{
    overflow: unset;
}

#Tourism > h5{
    margin-bottom: 200px;
}
#Tourism .swiper-slide{
    height: 370px;
    width: auto;
    transition: all 0.9s ease 0s;
    position: relative;
}

#Tourism .swiper-slide:nth-of-type(2n){
    transform: translateY(-100px);
}

.T_innerDiv{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}


.T_innerDiv::after{
    content: "";
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: #00000045; 
    position: absolute;
    left: 0;
    top:0;
    box-sizing: border-box;
}

.T_innerDiv:hover::after{
    background-color: #00000075;  
}

.T_innerDiv:hover{
    transition: all 0.3s ease 0s;
}

.T_innerDiv:hover .tourismTitle{
    color: #fff;
    transition: all 0.3s ease 0s;
}

.T_innerDiv .tourismText,.T_innerDiv .tourismLocation{
    opacity: 0;
    transition: all 0.3s ease 0s;
}

.T_innerDiv:hover .tourismText,.T_innerDiv:hover .tourismLocation{
    opacity: 1;
}

.tourismTitle{
    position: relative;
    font-weight: 700;
    font-size: 25px;
    line-height: 50px;
    padding: 50px 25px 0px 25px;
    box-sizing: border-box;
    z-index: 99999999;
    color: #FFF;
    z-index: 99999999!important;
}

.tourismText{
    position: relative;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding: 20px 25px 0px 25px;
    height: 120px;
    box-sizing: border-box;
    z-index: 99999999!important;
}

.tourismLocation{
    position: relative;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    padding: 80px 25px 0px 25px;
    box-sizing: border-box;
    z-index: 99999999!important;
}

#Tourism .swiper-slide img:hover{
    box-sizing: border-box;
    filter: brightness(0.5);
}

#Tourism .swiper-slide img{
    transition: all 0.2s ease 0s;
}

#Tourism .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hashTag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hashTag > p{
    background-color: var(--contents_bg_color);
    border:1px solid var(--contents_border_color);
    line-height: 30px;
    padding: 0 15px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.hashTag > p:last-of-type{
    margin-right: 0px;
}


/* #video 영역 */
#video{
    box-sizing: border-box;
}

/* #discountEvent 영역 */
#discountEvent ul li{
    border:1px solid var(--contents_border_color);
    border-radius: 20px;
    margin-right: 40px;
    width: 30%;
    height: auto;
    padding: 20px;
}

#discountEvent ul li:last-of-type{
    margin-right: 0;
}

#discountEvent span{
    border: 2px solid var(--main_color1);
    color: var(--main_color1);
    font-weight: 700;
    box-sizing: border-box;
    padding: 5px 17px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 40px;
}

#discountEvent p{
    line-height: 40px;
    font-size: 22px;
}

#discountEvent strong{
    display: block;
    line-height: 40px;
    font-weight: 800;
    font-size: 25px;
}

#discountEvent img{
    box-sizing: border-box;
    margin: 40px auto 0 auto;
    width: 50%;
    height: auto;
    transform: translateX(50%);
}

/* #route 영역 */

/* #Comments 영역 */

/* #ft 영역 */